* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: "Inter";
}
.lang-Sign-In {
  display: flex;
  background-image: url(/assets/image/background-Page.png);
  background-repeat: no-repeat;
  width: 543px;
  height: 543px;
  box-sizing: 543px 543px;
  top: -298px;
  left: -163px;
  background-position: -298px 0px 0px -163px;
}
.lang-Sign-In {
  display: flex;
  height: 1080px;
  width: 1920px;
  justify-content: center;
}
.graphic-side {
  width: 960px;
  height: 1080px;
  position: relative;
  display: flex;
  overflow: hidden;
  background: radial-gradient(#3b8aff, #0048b2);
}
.Circle-1 {
  position: absolute;
  width: 593.68px;
  height: 593.68px;
  top: 526.86px;
  right: 446.62px;
  border-radius: 50%;
  transform: rotate(90deg);
  box-shadow: inset 24px 32px 184px 24px#060859BF;
}
.Circle-2 {
  position: absolute;
  width: 746.64px;
  height: 746.64px;
  top: 494.02px;
  left: -239.06px;
  border-radius: 50%;
  opacity: 0.75;
  transform: rotate(-90deg);
  box-shadow: inset 24px 32px 184px 24px#060859BF;
}
.Circle-3 {
  position: absolute;
  width: 996.39px;
  height: 1017.13px;
  top: 402.42px;
  right: 229.53px;
  border-radius: 50%;
   opacity: 0.75;
  transform: rotate(-90deg);
  box-shadow: inset 24px 32px 184px 24px#060859BF;
}
.Circle-4 {
  position: absolute;
  width: 1172.68px;
  height: 1197.74px;
  top: 258.11px;
  right: 116px;
  opacity: 0.75;
  border-radius: 50%;
  box-shadow: inset 24px 32px 184px 24px#060859BF;
  transform: rotate(-90deg);
}
.Circle-5 {
  position: absolute;
  width: 1514.89px;
  height: 1546px;
  top: 87px;
  left: -374px;
  opacity: 0.75;
  border-radius: 50%;
   transform: rotate(-90deg);
  box-shadow: inset 24px 32px 184px 24px#060859BF;
}
.Graphic {
  display: flex;
  justify-content: flex-end;
}
.form {
  margin: 234px 262px 244px 262px;
  height: 436px;
  width: 602px;
}
.logo {
  display: flex;
  height: 43px;
  width: 162px;
  align-items: center;
  margin-bottom: 40px
}
.box-img {
  width: 28px;
  height: 28px;
  background-image: url(/assets/image/Logo.png);
  background-size: 28px, 28px;
  align-items: center;
}
.text-logo {
  display: flex;
  height: 43px;
  width: 126px;
  align-items: center;
  margin-left: 8px;
  font-size: 33px;
  color: #232d42;
  font-weight: 600;
}
section {
  display: flex;
  width: 436px;
  height: 391px;
  justify-content: center;
  flex-wrap: wrap;
}
.sing-in-form {
  display: flex;
  justify-content: center;
  width: 197px;
  height: 87px;
  display: block;
  margin-bottom: 16px;
}
h1 {
  text-align: center;
  font-weight: 600;
  font-size: 33px;
  line-height: 42.9px;
  color: #000000;
}
h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: start;
  white-space: nowrap;
  color: #8a92a6;
}
.input-box {
  height: 288px;
  width: 436px;
}
input {
  display: block;
}
.email {
  width: 436px;
  height: 44px;
  border: solid #3a57e8 1px;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 16px;
  color: #8a92a6;
}
.label-email {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #8a92a6;
}
.label-password {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #8a92a6;
}
.password {
  width: 436px;
  height: 44px;
  border: solid #3a57e8 1px;
  border-radius: 4px;
  height: 44px;
  width: 436px;
  margin-top: 8px;
  margin-bottom: 16px;
}
.checkbox {
  display: inline;
}
.label-checkbox {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #8a92a6;
  margin-left: 8px;
  height: 16px;
  width: 16px;
}
.Forgot-Password {
  margin-left: 160px;
  color: #3a57e8;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.button-sing-in {
  display: block;
  width: 188px;
  height: 44px;
  background-color: #3a57e8;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  margin: 16px 124px 0px 124px;
}
.All-means {
  position: relative;
  margin: 16px 48px 0px 48px;
  width: 340px;
  height: 112px;
}
.sign-other-accounts {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #232d42;
  text-align: center;
}
.Means-of-registration {
  display: inline-block;
  width: 168px;
  height: 24px;
  margin: 16px 86px;
}
.new-account {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-wrap: nowrap;
  left: 0px;
  text-align: start;
  position: absolute;
  bottom: 0px;
}
.new-sign-up {
  color: #3a57e8;
  margin-left: 2px;
  display: inline-block;
}
.sing-in-google {
  margin-right: 12px;
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url(/assets/image/Gmail.png);
  background-size: 24px 24px;
  border-radius: 50%;
}
.sing-in-facebook {
  margin-right: 12px;
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url(/assets/image/Facebook.png);
  background-size: 24px 24px;
  border-radius: 50%;
}
.sing-in-instagram {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url(/assets/image/Instagram.png);
  background-size: 24px 24px;
  border-radius: 50%;
}
.sing-in-linkedin {
  margin-left: 12px;
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url(/assets/image/Linked\ in.png);
  background-size: 24px 24px;
  border-radius: 50%;
}
@media (max-width: 600px){
  .graphic-side {
    display:none;
  }
}